{% extends "base.html" %}
{% block body %}
{% from 'macros.html' import import_styles  %}
{% from 'macros.html' import back_to_individual_meeting %}

{{ import_styles() }}
{{ back_to_individual_meeting(meeting) }}

<h1>
{% if meeting.title != none %}
    add note for {{ meeting.title.lower() }}
{% else %}
    add note for meeting
{% endif %}

</h1>

<div class="section-container">

    <form action="{{ url_for('add_note_meeting', meeting_id = meeting.id) }}" method="POST">
        {{ form.csrf_token }}
        {{ form.note.label }}
        {{ form.note }}
        {{ form.submit(class="main-button") }}
    </form>

</div>

{% endblock %}