{% extends "base.html" %}
{% block body %}

<link rel="stylesheet" href="../static/css/contacts.css">

<h1>CONTACTS!</h1>
<button class="main-button"><a href="{{ url_for('add_contact') }}">CREATE NEW CONTACT</a></button>

    <div class="window" id="contacts-container">
        <table>
            <tr>
                <th>name</th>
                <th>email</th>
                <th>phone</th>
                <th>title</th>
                <th>company</th>
            </tr>

            {% for contact in current_user.contacts %}
            <tr class = "contact-row">
                
                <td class = "contact-info" class = "first-name">
                        <a href="{{ url_for('individual_contact', contact_id=contact.id) }}">
                        {% if contact.get_full_name() is not none %}
                        {{ contact.get_full_name() }}
                        {% else %}
                        no name
                        {% endif %}
                        </a>
                    </td>
                    
                <td class = "contact-info" class = "email">
                    {% if contact.emails|length > 0 %}
                        {{ contact.emails[0].email }}
                    {% else %}
                        no Email
                    {% endif %}
                </td>
                
                <td class = "contact-info" class = "phone">
                    {% if contact.phone_numbers|length > 0 %}
                        {{ contact.phone_numbers[0].get_readable_number() }}
                    {% else %}
                    no phone
                    {% endif %}
                </td>
                
                <td class = "contact-info" class = "job_title">
                    {% if contact.job_title is not none %}
                    {{ contact.job_title }}
                    {% else %}
                    no title
                    {% endif %}
                </td>
                
                <td class = "contact-info" class = "company">
                    {% if contact.company is not none %}
                    {{ contact.company }}
                    {% else %}
                    no company
                    {% endif %}
                </td>

                <td>
                    <a href="{{ url_for('delete_contact', contact_id=contact.id) }}">
                        <button class="main-button" name="delete_contact" value="{{ contact.id }}">DELETE</button>
                    </a>
                </td>

            </tr>
            {% endfor %}
        </table>
    </div>
        
        {% endblock %}