{% extends "base.html" %}
{% block body %}
{% from 'macros.html' import import_styles %}
{% from 'macros.html' import back_to_contacts %}

{{ import_styles() }}
{{ back_to_contacts() }}



{% if contact.first_name|length is not none or contact_last_name is not none %}
    <h1>Are you sure you want to delete {{ contact.first_name }} {{ contact.last_name }}?</h1>
{% else %}
    <h1>Are you sure you want to delete this contact?</h1>
{% endif %}

<div class="horizontal-section">
    <a href="{{ url_for('individual_contact', contact_id = contact.contact_id) }}">
        <form action="{{ url_for('delete_contact', contact_id = contact.contact_id) }}" method="POST">
            <button class="main-button giant-btns">YES</button>
        </form>
    </a>
    
    <a href="{{ url_for('individual_contact', contact_id = contact.contact_id) }}">
        <button class="main-button giant-btns margin-left">NO</button>
    </a>
</div>

{% endblock %}