{% extends "base.html" %}
{% block body %}
{% from 'macros.html' import import_styles %}
{% from 'macros.html' import back_to_contacts %}

{{ import_styles() }}
{{ back_to_contacts() }}


<div class="section-container">

    
    <div class="contact-meeting-title" id="contact-name">
        {% if contact.first_name|length != 0 and contact.last_name|length != 0 %}
        <h1>{{ contact.first_name.lower() }} {{ contact.last_name.lower() }}</h1>
        {% else %}
            <h1>no name for contact</h1>
            {% endif %}
            
        </div>
        
    <div class="horizontal-section">
        <div class="contact-meeting-info" id="contact-title">
            <div class="contact-meeting-title">
                <h2 class="contact-header">Title</h2>
            </div>
            {% if contact.job_title|length > 0 %}
            {{ contact.job_title }}
            {% else %}
            no job title
            {% endif %}
        </div>
        
        <div class="contact-meeting-info" id="contact-company">
            <div class="contact-meeting-title">
                <h2 class="contact-header">Company</h2>
            </div>
            {% if contact.company is not none %}
            {{ contact.company }}
            {% else %}
            no company
            {% endif %}
        </div>
    </div>
    
    <div class="horizontal-section">
        <div class="contact-meeting-info">
            <div class="contact-meeting-title" id="contact-bio">
                <h2 class="contact-header">Bio</h2>
            </div>
            {% if contact.bio|length > 0 %}
            {{ contact.bio }}
            {% else %}
            no contact
            {% endif %}
        </div>
    </div>
</div>


<div id="phone-numbers-section" class="section-container">
    <div class="horizontal-section">
        <h2 class="contact-header">Phone Numbers</h2>
        <button class="main-button"><a href="{{ url_for('add_phone', contact_id = contact.id) }}">
            {% if contact.first_name|length > 0 and contact.last_name|length > 0 %}
            add phone to {{ contact.first_name.lower() }} {{ contact.last_name.lower() }}
            {% else %}
            add phone to contact
            {% endif %}
        </a></button>
    </div>
    
    {% if contact.phone_numbers|length > 0 %}
        {% for phone in contact.phone_numbers %}
            <div
                id="{{ 'phone_num_' + phone.id|string }}" 
                class="horizontal-section list-all-but-tables"
                data-value="{{phone.phone_number}}">
                ({{ phone.phone_number[0:3] }}) {{ phone.phone_number[3:6] }}-{{ phone.phone_number[6:10] }}
                <div class="delete-btn">
                    <a href="{{ url_for('delete_phone', phone_id=phone.id) }}"><button class="main-button" name="delete_phone" value="{{ phone.id }}">delete</button></a>
            </div>
        </div>
        {% endfor %}
        
        {% else %}
        <div class="phone-number">
            No phone numbers for this contact
        </div>
        
        {% endif %}
        
    </div>
    
    
    <div class="section-container">
        <div class="horizontal-section">
            <h2 class="contact-header">Emails</h2>
            <button class="main-button"><a href="{{ url_for('add_email', contact_id = contact.id) }}">
                {% if contact.first_name|length > 0 and contact.last_name|length > 0 %}
                add email to {{ contact.first_name.lower() }} {{ contact.last_name.lower() }}
                {% else %}
                add email to contact
                {% endif %}
            </a></button>
        </div>
        
        {% if contact.emails|length > 0 %}
            {% for email in contact.emails %}
            <div class="horizontal-section list-all-but-tables">
                <div class="emails">
                    {{ email.email }}
                </div>
                <div class="delete-btn"><a href="{{ url_for('delete_email', email_id=email.id) }}"><button class="main-button" name="delete_email" value="{{ email.id }}">delete</button></a></div>
            </div>
            {% endfor %}
    {% else %}
        <div class="emails">
            No emails for this contact
        </div>

    {% endif %}
</div>

<div class="section-container">

    <div class="horizontal-section">
        <h2 class="contact-header">Addresses</h2>
        <button class="main-button"><a href="{{ url_for('add_address', contact_id = contact.id) }}">
            {% if contact.first_name|length > 0 and contact.last_name|length > 0 %}
            add address to {{ contact.first_name.lower() }} {{ contact.last_name.lower() }}
            {% else %}
            add address to contact
            {% endif %}
        </a></button><br>
    </div>


    {% if contact.addresses|length > 0 %}
    <table>
        <tr>
            <th>address 1</th>
            <th>address 2</th>
            <th>city</th>
            <th>county</th>
            <th>state</th>
            <th>country</th>
            <th>zipcode</th>
        </tr>
        {% for address in contact.addresses %}
        <tr>
            <td>{{ address.street_address_1 }}</td>
            <td>{{ address.street_address_2 }}</td>
            <td>{{ address.city }}</td>
            <td>{{ address.county }}</td>
            <td>{{ address.state }}</td>
            <td>{{ address.country }}</td>
            <td>{{ address.zipcode }}</td>
            <td><a href="{{ url_for('delete_address', address_id=address.id) }}"><button class="main-button" name="delete_address" value='{{ address.id }}'>delete</button></a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    no addresses
{% endif %}

</div>


<div class="section-container">

    <div class="horizontal-section">
        <h2 class="contact-header">Socials</h2>
        <button class="main-button"><a href="{{ url_for('add_social', contact_id = contact.id) }}">
                {% if contact.first_name|length > 0 and contact.last_name|length > 0 %}
                add social to {{ contact.first_name.lower() }} {{ contact.last_name.lower() }}
                {% else %}
                add social to contact
                {% endif %}
            </a></button><br>
    </div>
        <table>
        {% if contact.social_medias|length > 0 %}
            <tr>
                <th>platform</th>
                <th>address</th>
            </tr>
            {% for social in contact.social_medias %}
            <tr>
                <td>{{ social.social_media }}</td>
                <td>{{ social.social_media_address }}</td>
                <td>
                    <a href="{{ url_for('delete_social', social_id=social.id) }}"><button
                            class="main-button" name="delete_social" value='{{ social.id }}'>delete</button></a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            no socials


            {% endif %}
        </table>
</div>


<div class="section-container">

    <div class="horizontal-section">
        <h2 class="contact-header">Notes</h2>
        <button class="main-button"><a href="{{ url_for('add_note_contact', contact_id = contact.id) }}">
                {% if contact.first_name|length > 0 and contact.last_name|length > 0 %}
                add note to {{ contact.first_name.lower() }} {{ contact.last_name.lower() }}
                {% else %}
                add note to contact
                {% endif %}
            </a></button>
    </div>

    {% if contact.notes|length > 0 %}
    {% for note in contact.notes %}
    <div class="horizontal-section list-all-but-tables">
        {{ note.note }}

        <a href="{{ url_for('delete_note_contact', note_id=note.id) }}"><button
                class="main-button delete-btn" name="delete_note_contact" value="{{ note.id }}">delete</button></a>
    </div>
    {% endfor %}
    {% else %}
    no notes
    {% endif %}

</div>

<script src="../static/javascript/individual-contact.js"></script>


{% endblock %}