{% extends "base.html" %}
{% block body %}
{% from 'macros.html' import update_button %}
{% from 'macros.html' import import_styles %}
{% from 'macros.html' import back_to_contacts %}

{{ import_styles() }}
{{ back_to_contacts() }}


<div class="section-container">

    
    <div class="contact-meeting-title" id="contact-name">
        {% if contact.first_name|length != 0 and contact.last_name|length != 0 %}
        <h1>{{ contact.first_name.lower() }} {{ contact.last_name.lower() }}</h1>
        {% else %}
            <h1>no name for contact</h1>
            {% endif %}
            {{  update_button("update_contact", "contact_id", contact.contact_id, "name", "POST")}}
        </div>
        
    <div class="horizontal-section">
        <div class="contact-meeting-info" id="contact-title">
            <div class="contact-meeting-title">
                <h2 class="contact-header">Title</h2>
                {{ update_button("update_contact", "contact_id", contact.contact_id, "title", "POST")}} 
            </div>
            {% if contact.job_title|length > 0 %}
            {{ contact.job_title }}
            {% else %}
            no job title
            {% endif %}
        </div>
        
        <div class="contact-meeting-info" id="contact-company">
            <div class="contact-meeting-title">
                <h2 class="contact-header">Company</h2>
                {{  update_button("update_contact", "contact_id", contact.contact_id, "company", "POST")}} 
            </div>
            {% if contact.company is not none %}
            {{ contact.company }}
            {% else %}
            no company
            {% endif %}
        </div>
    </div>
    
    <div class="horizontal-section">
        <div class="contact-meeting-info">
            <div class="contact-meeting-title" id="contact-bio">
                <h2 class="contact-header">Bio</h2>
                {{  update_button("update_contact", "contact_id", contact.contact_id, "bio", "POST")}} 
            </div>
            {% if contact.bio|length > 0 %}
            {{ contact.bio }}
            {% else %}
            no contact
            {% endif %}
        </div>
    </div>
</div>


<div id="phone-numbers-section" class="section-container">
    <div class="horizontal-section">
        <h2 class="contact-header">Phone Numbers</h2>
        <button class="main-button"><a href="{{ url_for('add_phone', contact_id = contact.contact_id) }}">
            {% if contact.first_name|length > 0 and contact.last_name|length > 0 %}
            add phone to {{ contact.first_name.lower() }} {{ contact.last_name.lower() }}
            {% else %}
            add phone to contact
            {% endif %}
        </a></button>
    </div>
    
    {% if phones is not none %}
        {% for phone in phones %}
            <div
                id="{{ 'phone_num_' + phone.contact_phone_number_id|string }}" 
                class="horizontal-section list-all-but-tables"
                data-value="{{phone.phone_number}}">
                ({{ phone.phone_number[0:3] }}) {{ phone.phone_number[3:6] }}-{{ phone.phone_number[6:10] }}
                {{ phone_number_form.area_code.label }}
                {{ phone_number_form.area_code }}
                {{ phone_number_form.submit }}
                <div class="delete-btn">
                    <form  action="{{ url_for('delete_phone') }}" method="POST"><button class="main-button" name="delete_phone" value="{{ phone.contact_phone_number_id }}">delete</button></form>
                <button id="{{phone.contact_phone_number_id}}" class="updatePhone + main-button">
                    update
                </button>
                </div>
            </div>
        {% endfor %}
    
    {% else %}
        <div class="phone-number">
            No phone numbers for this contact
        </div>

    {% endif %}

</div>


<div class="section-container">
    <div class="horizontal-section">
        <h2 class="contact-header">Emails</h2>
        <button class="main-button"><a href="{{ url_for('add_email', contact_id = contact.contact_id) }}">
            {% if contact.first_name|length > 0 and contact.last_name|length > 0 %}
            add email to {{ contact.first_name.lower() }} {{ contact.last_name.lower() }}
            {% else %}
            add email to contact
            {% endif %}
        </a></button>
    </div>
        
    {% if emails is not none %}
        {% for email in emails %}
        <div class="horizontal-section list-all-but-tables">
            <div class="emails">
                {{ email.email }}
            </div>
            <div class="delete-btn"><form action="{{ url_for('delete_email') }}" method="POST"><button class="main-button" name="delete_email" value="{{ email.contact_email_id }}">delete</button></form></div>
        </div>
        {% endfor %}
    
    {% else %}
        <div class="emails">
            No emails for this contact
        </div>

    {% endif %}
</div>

<div class="section-container">

    <div class="horizontal-section">
        <h2 class="contact-header">Addresses</h2>
        <button class="main-button"><a href="{{ url_for('add_address', contact_id = contact.contact_id) }}">
            {% if contact.first_name|length > 0 and contact.last_name|length > 0 %}
            add address to {{ contact.first_name.lower() }} {{ contact.last_name.lower() }}
            {% else %}
            add address to contact
            {% endif %}
        </a></button><br>
    </div>


    {% if addresses is not none %}
    <table>
        <tr>
            <th>address 1</th>
            <th>address 2</th>
            <th>city</th>
            <th>county</th>
            <th>state</th>
            <th>country</th>
            <th>zip</th>
        </tr>
        {% for address in addresses %}
        <tr>
            <td>{{ address.street_address_1 }}</td>
            <td>{{ address.street_address_2 }}</td>
            <td>{{ address.city }}</td>
            <td>{{ address.county }}</td>
            <td>{{ address.state }}</td>
            <td>{{ address.country }}</td>
            <td>{{ address.zip }}</td>
            <td><form action="{{ url_for('delete_address') }}" method="POST"><button class="main-button" name="delete_address" value='{{ address.contact_address_id }}'>delete</button></form></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    no addresses
{% endif %}

</div>


<div class="section-container">

    <div class="horizontal-section">
        <h2 class="contact-header">Socials</h2>
        <button class="main-button"><a href="{{ url_for('add_social', contact_id = contact.contact_id) }}">
            {% if contact.first_name|length > 0 and contact.last_name|length > 0 %}
            add social to {{ contact.first_name.lower() }} {{ contact.last_name.lower() }}
            {% else %}
            add social to contact
            {% endif %}
        </a></button><br>
    </div>
        {% if socials is not none %}
    <table>
        <tr>
            <th>platform</th>
            <th>address</th>
        </tr>
        {% for social in socials %}
        <tr>
            <td>{{ social.social_media }}</td>
            <td>{{ social.social_media_address }}</td>
            <td><form action="{{ url_for('delete_social') }}" method="POST"><button class="main-button" name="delete_social" value='{{ social.contact_social_media_id }}'>delete</button></form></td>
        </tr>
        {% endfor %}
        {% else %}
        no socials
        {% endif %}
        
        
    </table>
    </div>
</div>


<div class="section-container">

    <div class="horizontal-section">
        <h2 class="contact-header">Notes</h2>
        <button class="main-button"><a href="{{ url_for('add_note_contact', contact_id = contact.contact_id) }}">
            {% if contact.first_name|length > 0 and contact.last_name|length > 0 %}
            add note to {{ contact.first_name.lower() }} {{ contact.last_name.lower() }}
            {% else %}
            add note to contact
            {% endif %}
        </a></button>
    </div>

    {% if notes is not none %}
    {% for note in notes %}
    <div class="horizontal-section list-all-but-tables">
        {{ note.note }}
        
        <form action="{{ url_for('delete_note_contact') }}" method="POST"><button class="main-button delete-btn" name="delete_note_contact" value="{{ note.contact_note_id }}">delete</button></form>
    </div>
        
    {% endfor %}
    {% else %}
    no notes
    {% endif %}

</div>

<script src="../static/javascript/individual-contact.js"></script>


{% endblock %}