{% extends "base.html" %}
{% block body %}
{% from 'macros.html' import update_button %}
{% from 'macros.html' import back_to_meetings %}
{% from 'macros.html' import import_styles %}

{{  import_styles() }}
{{ back_to_meetings() }}





<div class="section-container">

    <div class="contact-meeting-title horizontal-section" id="meeting-title">
        {% if meeting.title is not none and meeting.title|length > 0 %}
            <h1>{{ meeting.title.lower() }}</h1>
            {% else %}
            <h1>no meeting title</h1>
        {% endif %}
    </div>


    <div id="meeting-contact">
        <div class="horizontal-section">
            <div class="contact-meeting-info contact-meeting-title">
                <h2 class="contact-header">contact</h2>
            </div>
        </div>
            {% if contact is not none %}
                <a href="{{ url_for('individual_contact', contact_id = meeting.contact.id) }}">
                    <p>{{ meeting.contact.first_name }} {{ meeting.contact.last_name }}</p>
                </a>
            {% else %}
                no contact for meeting
            {% endif %}
    </div>



    <div id="meeting-method">

        <div class="horizontal-section contact-meeting-info contact-meeting-title">
            <h2 class="contact-header">method</h2>
        </div>
            {% if meeting.method is not none %}
                <p>{{ meeting.method }}</p>
            {% else %}
                no date set
            {% endif %}

        </div>
</div>
</div>

<div class="section-container">

    <div class="horizontal-section">
        <h2 class="contact-header">notes</h2>
        <button class="main-button"><a href="{{ url_for('add_note_meeting', meeting_id = meeting.id) }}">
            {% if meeting.title is not none %}
                add note to {{ meeting.title.lower() }}
            {% else %}
                add note to meeting
            {% endif %}
        
        </a></button>
    </div>
    {% if meeting.notes|length > 0 %}
        {% for note in meeting.notes %}
        <div class="horizontal-section list-all-but-tables">
            {{ note.note }}

            <a href="{{ url_for('delete_note_meeting', meeting_note_id=note.id) }}"><button class="main-button delete-btn" name="delete_note_meeting" value="{{ note.id }}">delete</button></a>
        </div>
        {% endfor %}
    {% else %}
        no notes
    {% endif %}

</div>



{% endblock %}