{% extends "base.html" %}
{% block body %}

<h1>MEETINGS!</h1>
<button class="main-button"><a href="{{ url_for('add_meeting') }}">CREATE NEW MEETING</a></button>

    <div class="window" id="meetings-container">
        <table>
            <tr>
                <th>title</th>
                <th>contact</th>
                <th>method</th>
                <th>place</th>
                <th>time</th>
                <th>delete</th>
            </tr>

        {% for meeting in current_user.meetings %}
        
        <tr class = "meeting-row">
                <td class = "meeting-info" class = "first-name">
                    <a href="{{ url_for('individual_meeting', meeting_id = meeting.id) }}">
                    {% if meeting.title is not none %}
                        {{ meeting.title }}
                    {% else %}
                        no meeting title
                    {% endif %}
                </a>
                </td>
                <td class = "meeting-info" class = "contact">
                    {% if meeting.contact is not none %}
                        {{ meeting.contact.first_name }} {{ meeting.contact.last_name }}
                    {% else %}
                        no contact
                    {% endif %}
                </td>
                <td class = "meeting-info" class = "method">
                    {% if meeting.method is not none %}
                        {{ meeting.method }} 
                    {% else %}
                        no method
                    {% endif %}
                </td>
                <td class = "meeting-info" class = "place">
                    {% if meeting.place is not none %}
                        {{ meeting.place }} 
                    {% else %}
                        no place
                    {% endif %}
                </td>

                <td>
                    <a href="{{ url_for('delete_meeting', meeting_id = meeting.id) }}">
                        <button class="main-button" name="delete_meeting" value="{{ meeting.id }}">DELETE</button>
                    </a>
                </td>

            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}