{% extends "base.html" %}
{% block body %}
{% from 'macros.html' import back_to_contact %}
{% from 'macros.html' import import_styles %}

{{ import_styles() }}

{{ back_to_contact(contact) }}

<h1>
  {% if contact.first_name|length > 0 or contact.last_name|length > 0 %}
    add phone for {{ contact.first_name.lower() }} {{ contact.last_name.lower() }}
  {% else %}
    add phone for contact
  {% endif %}
</h1>

<div class="section-container">
  <form action="{{ url_for('add_phone', contact_id = contact.contact_id) }}" method="post">
    {{ form.phone.label }}
    {{ form.phone }}
    {{ form.submit(class="main-button") }}
  </form>
</div>


{% endblock %}