{% extends "base.html" %}
{% block body %}

<a href="{{ url_for('individual_meeting', meeting_id = meeting.meeting_id) }}">
    {% if meeting.meeting_title != none %}
        back to {{ meeting.meeting_title.lower() }}
    {% else %}
        back to meeting
    {% endif %}
</a>

<h1>
{% if meeting.meeting_title != none %}
    add note for {{ meeting.meeting_title.lower() }}
{% else %}
    add note for meeting
{% endif %}

</h1>

<form action="{{ url_for('add_note_meeting', meeting_id = meeting.meeting_id) }}" method="POST">
    {{ form.note.label }}
    {{ form.note }}
    {{ form.submit }}
</form>

{% endblock %}