{% extends "base.html" %}
{% block body %}
{% from 'macros.html' import import_styles %}
{% from 'macros.html' import back_to_contacts %}

{{ import_styles() }}

{{ back_to_contacts() }}

<h1>Add Contact</h1>

<div class="section-container">
  
  <form action="{{ url_for('add_contact') }}" method="post">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br>
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="company">Company:</label><br>
    <input type="text" id="company" name="company"><br>
    <label for="bio">Bio:</label><br>
    <textarea id="bio" name="bio" rows="4" cols="20" maxlength=2000></textarea><br>
    <button class="main-button" type="submit">Submit</button>
  </form>
  
</div>

{% endblock %}