<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" type="image/png" href="../static/favicon.png" />
    
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
    </style>

    <style>
    @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Teko:wght@300;400;500;600;700&display=swap');
    </style>



<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" href="../static/css/base.css">
    
    <title>{{ page_title }}</title>
</head>
<body>
    {% block header %}
    <header>
        <div id="header-container">

            <div id="logo">
                <a href="{{ url_for('home') }}">
                    <img src="../static/logo.png">
                </a>
            </div>
            
            <div id="header-links-container">
                <a class="header-link" href="{{ url_for('home') }}">HOME</a>
                <a class="header-link" href="{{ url_for('contacts') }}">CONTACTS</a>
                <a class="header-link" href="{{ url_for('meetings') }}">MEETINGS</a>
                <a class="header-link" href="{{ url_for('logout') }}">LOGOUT</a>
            </div>

        </div>
    </header>
    {% endblock %}
    
    <main>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    
    
    <div class="alert alert-{{ category }}" role="alert" id="alert-div">
        {{ message }}
        <!-- <button class="alert-btn" type="button" id="close" data-dismiss="alert" aria-label="Close"> -->
        <span id="alert-btn" aria-hidden="true">&times;</span>
        <!-- </button> -->
    </div>
    
    {% endfor %}
    
    <script>
        let alert_btn = document.getElementById("alert-btn");
        let alert_div = document.getElementById("alert-div")
        alert_btn.addEventListener("click", () => {alert_div.remove()});
        </script>
            {% endif %}
            {% endwith %}
            


        {% block body %}{% endblock %}
    </main>
    <footer>
        <hr>
        <h5>Thank you for using the Easy CRM, created by<a id="linkedin" target="_blank" href="https://www.linkedin.com/in/chalonhutson/">Chalon Hutson</a></h5>
    </footer>
</body>

</html>