{% extends "base.html" %}
{% block body %}

<link rel="stylesheet" href="../static/css/contacts.css">

<h1>CONTACTS!</h1>
<button><a href="{{ url_for('add_contact') }}">CREATE NEW CONTACT</a></button>

    <div class="window" id="contacts-container">
        <table>
            <tr>
                <th>name</th>
                <th>email</th>
                <th>phone</th>
                <th>title</th>
                <th>company</th>
            </tr>

            {% for contact in contacts %}
            <tr class = "contact-row">
                
                <td class = "contact-info" class = "first-name">
                        <a href="{{ url_for('individual_contact', contact_id = contact.contact_id) }}">
                        {% if contact.name is not none %}
                        {{ contact.name }}
                        {% else %}
                        no name
                        {% endif %}
                        </a>
                    </td>
                    
                <td class = "contact-info" class = "email">
                    {% if contact.email is not none %}
                        {{ contact.email.email }}
                    {% else %}
                        no Email
                    {% endif %}
                </td>
                
                <td class = "contact-info" class = "phone">
                    {% if contact.phone is not none %}
                    ({{ contact.phone.phone_number[0:3] }}) {{ contact.phone.phone_number[3:6] }}-{{ contact.phone.phone_number[6:10] }}
                    {% else %}
                    no Phone
                    {% endif %}
                </td>
                
                <td class = "contact-info" class = "job_title">
                    {% if contact.job_title is not none %}
                    {{ contact.job_title }}
                    {% else %}
                    no title
                    {% endif %}
                </td>
                
                <td class = "contact-info" class = "company">
                    {% if contact.company is not none %}
                    {{ contact.company }}
                    {% else %}
                    no company
                    {% endif %}
                </td>

                <td>
                    <a href="{{ url_for('delete_contact', contact_id = contact.contact_id) }}">
                        <button name="delete_contact" value="{{ contact.contact_id }}">DELETE</button>
                    </a>
                </td>

            </tr>
            {% endfor %}
        </table>
    </div>
        
        {% endblock %}