{% extends "base.html" %}
{% block body %}


<h1>Contacts!</h1>
<button><a href="{{ url_for('add_contact') }}">Create New Contact</a></button>

    <div id="contacts-container">
        {% for contact in contacts %}

        <a href="{{ url_for('individual_contact', contact_id = contact.contact_id) }}">
            
        <div class = "contact-row">
            <div class = "contact-info" class = "first-name">

                {{ contact.first_name }}
                </div>
                <div class = "contact-info" class = "last-name">
                    {{ contact.last_name }}
                </div>
        </a>
                <div class = "contact-info" class = "email">
                    {% if contact.email is not none %}
                        {{ contact.email }}
                    {% else %}
                        No Email
                    {% endif %}
                </div>
                
                <div class = "contact-info" class = "phone">
                    {% if contact.phone is not none %}
                        {{ contact.phone }}
                    {% else %}
                        No Phone
                    {% endif %}
                </div>
            </div>
            <br>
        {% endfor %}
    </div>

{% endblock %}