{% extends "base.html" %}
{% block body %}

<a href="{{ url_for('meetings') }}">back to meetings</a>

{% if meeting.title is not none %}
    <h1>{{ meeting.meeting_title }}</h1>
{% else %}
    <h1>no meeting title</h1>
{% endif %}

<h2>contact</h2>
    {% if contact is not none %}
        <a href="{{ url_for('individual_contact', contact_id = contact.contact_id) }}">
            <p>{{ contact.first_name }} {{ contact.last_name }}</p>
        </a>
    {% else %}
        no contact for meeting
    {% endif %}

<h2>time</h2>
    {% if date is not none %}
        <p>{{ date }}</p>
        <p>{{ time }}</p>
    {% else %}
        no date set
    {% endif %}

<h2>method</h2>
    {% if meeting.meeting_method is not none %}
        <p>{{ meeting.meeting_method }}</p>
    {% else %}
        no date set
    {% endif %}

<h2>notes</h2>
    <button><a href="{{ url_for('add_note_meeting', meeting_id = meeting.meeting_id) }}">add note to meeting</a></button>
    {% if notes is not none %}
        {% for note in notes %}
            <p>{{ note.note }}</p>
        {% endfor %}
    {% else %}
        no notes
    {% endif %}





{% endblock %}