{% macro back_to_contact(contact) %}
{% if contact.first_name|length == 0 and contact.last_name|length == 0 %}
<a href="{{ url_for('individual_contact', contact_id = contact.contact_id) }}">back to contact</a>
{% else %}
<a href="{{ url_for('individual_contact', contact_id = contact.contact_id) }}">back to {{ contact.first_name.lower() }} {{ contact.last_name.lower() }}</a>
{% endif %}
{% endmacro %}

{% macro update_button(endpoint, name, value, info, _method) %}
<div class="edit-btn">
    <form action="{{ url_for(endpoint) }}" method="POST">
        <input type="hidden" name="{{ name }}" value="{{ value }}"/>
        <input type="hidden" name="info" value="{{ info }}"/>
        <input type="hidden" name="_method" value="{{ _method }}"/>
        <input class="edit-image" type="image" name="submit" src="../static/icons/edit.png" alt="Submit">
    </form>
</div>
{% endmacro %}

{% macro back_to_individual_meeting(meeting) %}
        <a href="{{ url_for('individual_meeting', meeting_id = meeting.meeting_id) }}">
            {% if meeting.meeting_title is not none %}
                back to {{ meeting.meeting_title }}
            {% else %}
                back to meeting
            {% endif %}
        </a>
{% endmacro %}
