{% extends "base.html" %}
{% block body %}

<h1>Meetings!</h1>
<button><a href="{{ url_for('add_meeting') }}">Create New Meeting</a></button>

    <div id="meetings-container">
        <table>
            <tr>
                <th>title</th>
                <th>contact</th>
                <th>method</th>
                <th>place</th>
                <th>time</th>
            </tr>
        {% for meeting in meetings %}

        
        <tr class = "meeting-row">
                <td class = "meeting-info" class = "first-name">
                    <a href="{{ url_for('individual_meeting', meeting_id = meeting.meeting_id) }}">
                    {% if meeting.meeting_title is not none %}
                        {{ meeting.meeting_title }}
                    {% else %}
                        No Meeting Title
                    {% endif %}
                </td>
                    </a>
                <td class = "meeting-info" class = "contact">
                    {% if meeting.meeting_contact is not none %}
                        {{ meeting.meeting_contact.first_name }} {{ meeting.meeting_contact.last_name }}
                    {% else %}
                        No Contact
                    {% endif %}
                </td>
                <td class = "meeting-info" class = "method">
                    {% if meeting.meeting_method is not none %}
                        {{ meeting.meeting_method }} 
                    {% else %}
                        No Method
                    {% endif %}
                </td>
                <td class = "meeting-info" class = "place">
                    {% if meeting.meeting_place is not none %}
                        {{ meeting.meeting_place }} 
                    {% else %}
                        No Place
                    {% endif %}
                </td>
                <td class = "meeting-info" class = "date">
                    {% if meeting.meeting_date is not none %}
                        {{ meeting.meeting_date }} 
                    {% else %}
                        No Place
                    {% endif %}
                </td>
                <td class = "meeting-info" class = "time">
                    {% if meeting.meeting_time is not none %}
                        {{ meeting.meeting_time }} 
                    {% else %}
                        No Place
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('delete_meeting', meeting_id = meeting.meeting_id) }}">
                        <button name="delete_meeting" value="{{ meeting.meeting_id }}">delete</button>
                    </a>
                </td>

        </tr>
        {% endfor %}
    </div>

{% endblock %}